[workspace]
resolver = "2"
members = ["crates/*", "neovim"]

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Nomad <hello@nomad.foo>"]
license = "MIT"

[workspace.dependencies]
common = { path = "crates/common" }
nomad = { path = "crates/nomad" }
nvim-oxi = { git = "https://github.com/noib3/nvim-oxi" }
once_cell = "1.18"
serde = "1.0"
thiserror = "1.0"
tracing = "0.1"
tracing-subscriber = { path = "crates/tracing-subscriber" }

[workspace.lints.rust]
future_incompatible = "deny"
missing_docs = "deny"
nonstandard_style = "deny"

[workspace.lints.rustdoc]
broken_intra_doc_links = "deny"
private_intra_doc_links = "deny"

[package]
name = "nomad-neovim"
version.workspace = true
edition.workspace = true
authors.workspace = true

[lib]
name = "nomad"
crate-type = ["cdylib"]

[features]
default = ["neovim-0-9"]
neovim-0-9 = [
  "common/neovim-0-9",
  "nvim-oxi/neovim-0-9",
]
neovim-nightly = [
  "common/neovim-nightly",
  "nvim-oxi/neovim-nightly",
]

[dependencies]
common = { workspace = true }
nomad = { workspace = true }
nvim-oxi = { workspace = true, features = ["libuv"] }
tracing-subscriber = { workspace = true }
