[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Nomad <hello@nomad.foo>"]
license = "MIT"
publish = false

[workspace.dependencies]
async-net = "2"
futures = "0.3"
nomad = { path = "./crates/nomad" }
serde = "1.0"
thiserror = "1.0"
tracing = "0.1"

[workspace.lints.clippy]
bool_to_int_with_if = "deny"
cognitive_complexity = "deny"
missing_panics_doc = "deny"
module_inception = "allow"
multiple_crate_versions = "deny"
needless_collect = "deny"
same_name_method = "deny"
too_many_lines = "deny"
unwrap_used = "deny"

[workspace.lints.rust]
future_incompatible = "deny"
missing_docs = "deny"
nonstandard_style = "deny"

[workspace.lints.rustdoc]
broken_intra_doc_links = "deny"
private_intra_doc_links = "deny"

[package]
name = "nomad-neovim"
version.workspace = true
edition.workspace = true
authors.workspace = true

[lib]
name = "nomad"
crate-type = ["cdylib"]

[features]
default = ["neovim-0-9"]
neovim-0-9 = ["nomad/neovim-0-9"]
neovim-nightly = ["nomad/neovim-nightly"]

[dependencies]
collab = { path = "./crates/collab" }
nomad = { workspace = true }
