[workspace]
resolver = "2"
members = ["crates/*", "crates/*/tests", "xtask"]
default-members = ["crates/*", "crates/*/tests", "xtask"]

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Nomad <hello@nomad.foo>"]
license = "MIT"
publish = false

[workspace.dependencies]
async-net = "2"
clipboard = { path = "./crates/clipboard" }
cola = "0.4"
crop = "0.4"
futures = "0.3"
nomad = { path = "./crates/nomad" }
serde = "1.0"
smallvec = "1.13"
smol_str = "0.2"
thiserror = "1.0"
tracing = "0.1"

[workspace.lints.clippy]
bool_to_int_with_if = "deny"
cognitive_complexity = "deny"
module_inception = "allow"
# multiple_crate_versions = "deny" TODO: re-enable
needless_collect = "deny"
same_name_method = "deny"
too_many_arguments = "deny"
too_many_lines = "deny"
unwrap_used = "deny"

[workspace.lints.rust]
future_incompatible = "deny"
missing_docs = "deny"
nonstandard_style = "deny"
refining_impl_trait = "allow"

[workspace.lints.rustdoc]
broken_intra_doc_links = "deny"
private_intra_doc_links = "deny"

[package]
name = "nomad-neovim"
version.workspace = true
edition.workspace = true
authors.workspace = true

[lib]
name = "nomad"
crate-type = ["cdylib"]

[features]
neovim-0-9 = ["nomad/neovim-0-9"]
neovim-nightly = ["nomad/neovim-nightly"]

[dependencies]
collab = { path = "./crates/collab" }
nomad = { workspace = true }
