[package]
name = "nomad"
version = "0.1.0"
edition = "2021"
authors = ["Riccardo Mazzarini <me@noib3.dev>"]

[lib]
crate-type = ["cdylib"]

[features]
default = ["neovim-0-9"]
neovim-0-9 = ["common/neovim-0-9"]
neovim-nightly = ["common/neovim-nightly"]

[dependencies]
colorschemes = { path = "crates/colorschemes" }
common = { path = "crates/common" }
fuzzy-modal = { path = "crates/fuzzy-modal" }
mad = { path = "crates/mad" }
seph = { path = "crates/seph" }

nvim-oxi = { git = "https://github.com/noib3/nvim-oxi" }
tracing-subscriber = { version = "0.3", features = ["fmt"] }

[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Riccardo Mazzarini <me@noib3.dev>"]

[workspace.dependencies]
nvim-oxi = { git = "https://github.com/noib3/nvim-oxi", features = ["libuv"] }
once_cell = { version = "1.18" }
phf = { version = "0.11" }
serde = { version = "1.0" }
serde_path_to_error = "0.1"
thiserror = { version = "1.0" }
tracing = { version = "0.1" }
