[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Nomad <hello@nomad.foo>"]
license = "MIT"
publish = false

[workspace.dependencies]
futures = "0.3"
neovim = { path = "./crates/neovim" }
nomad = { path = "./crates/nomad" }
nvim-oxi = { git = "https://github.com/noib3/nvim-oxi" }
once_cell = "1.18"
pin-project-lite = "0.2"
serde = "1.0"
thiserror = "1.0"
tracing = "0.1"

[workspace.lints.clippy]
module_inception = "allow"

[workspace.lints.rust]
future_incompatible = "deny"
missing_docs = "deny"
nonstandard_style = "deny"

[workspace.lints.rustdoc]
broken_intra_doc_links = "deny"
private_intra_doc_links = "deny"

[package]
name = "nomad-neovim"
version.workspace = true
edition.workspace = true
authors.workspace = true

[lib]
name = "nomad"
crate-type = ["cdylib"]

[features]
neovim-0-9 = ["nomad/neovim-0-9", "nvim-oxi/neovim-0-9"]
neovim-nightly = ["nomad/neovim-nightly", "nvim-oxi/neovim-nightly"]

[dependencies]
collab = { path = "./crates/collab" }
nomad = { workspace = true }
nvim-oxi = { workspace = true }
