[workspace]
resolver = "2"
members = ["crates/*", "xtask"]
default-members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Nomad <hello@nomad.foo>"]
license = "MIT"
publish = false

[workspace.dependencies]
async-net = "2"
compact_str = "0.8"
e31e = { git = "ssh://git@github.com/nomad/e31e.git" }
flume = { version = "0.11", features = ["async"] }
futures = "0.3"
futures-util = "0.3"
nohash = "0.2"
nvim = { git = "https://github.com/noib3/nvim-oxi", package = "nvim-oxi" }
pin-project-lite = "0.2"
quickcheck = "1"
quickcheck_macros = "1"
serde = "1.0"
smallvec = "1.13"
smol_str = "0.3"
thiserror = "1.0"
tracing = "0.1"

clipboard = { path = "./crates/clipboard" }
collab = { path = "./crates/collab2" }
nomad = { path = "./crates/nomad" }
root-finder = { path = "./crates/root-finder" }

[workspace.lints.clippy]
bool_to_int_with_if = "deny"
cognitive_complexity = "deny"
module_inception = "allow"
# multiple_crate_versions = "deny" TODO: re-enable
needless_collect = "deny"
same_name_method = "deny"
too_many_arguments = "deny"
too_many_lines = "deny"
unwrap_used = "deny"

[workspace.lints.rust]
future_incompatible = { level = "deny", priority = -1 }
missing_docs = "deny"
nonstandard_style = { level = "deny", priority = -1 }
refining_impl_trait = { level = "allow", priority = -1 }

[workspace.lints.rustdoc]
broken_intra_doc_links = "deny"
private_intra_doc_links = "deny"

[package]
name = "nomad-neovim"
version.workspace = true
edition.workspace = true
authors.workspace = true

[lib]
name = "nomad"
crate-type = ["cdylib"]

[features]
neovim-nightly = ["nomad/neovim-nightly"]

[dependencies]
collab = { workspace = true }
nomad = { workspace = true }
