[package]
name = "collab2"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true

[features]
neovim = [
  "nvimx2/neovim-0-10",
  "nvimx2/neovim-mlua",
  "dep:futures-util",
  "dep:home",
  "dep:smol_str",
]

[dependencies]
async-channel = "2.3"
auth = { workspace = true }
nvimx2 = { workspace = true }
serde = { workspace = true, features = ["derive"] }

futures-util = { workspace = true, optional = true, features = ["async-await-macro"] }
home = { version = "0.5", optional = true }
smol_str = { workspace = true, optional = true }

[lints]
workspace = true
