[package]
name = "collab2"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true

[features]
neovim = ["nvimx2/neovim-0-10", "nvimx2/neovim-mlua"]

[dependencies]
auth = { workspace = true }
nvimx2 = { workspace = true }
serde = { workspace = true, features = ["derive"] }
thiserror = { workspace = true }

[lints]
workspace = true
