[package]
name = "collab"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish = false

[dependencies]
neovim = { workspace = true }
nomad = { workspace = true }

[lints]
workspace = true
