[package]
name = "collab"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
async-fs = { workspace = true }
async-recursion = "1"
clipboard = { workspace = true }
collab-server = { git = "ssh://git@github.com/nomad/collab.git", default-features = false, features = ["client"], package = "nomad-server" }
e31e = { workspace = true }
flume = { workspace = true }
futures-util = { workspace = true }
fxhash = { workspace = true }
nohash = { workspace = true }
nomad = { workspace = true }
nvimx = { workspace = true }
pin-project-lite = { workspace = true }
root-finder = { workspace = true }
serde = { workspace = true, features = ["derive"] }
smallvec = { workspace = true }
smol_str = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }

[lints]
workspace = true
