[package]
name = "collab"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true

[features]
mock = [
  "dep:duplex-stream",
  "auth/mock",
  "collab-server/server",
  "collab-server/test",
  "ed/mock",
]
neovim = [
  "dep:async-net",
  "dep:clipboard",
  "dep:home",
  "collab-server/nomad",
  "ed/neovim",
  "walkdir/gitignore",
]

[dependencies]
abs-path = { workspace = true, features = ["macros"] }
auth = { workspace = true }
collab-server = { git = "ssh://git@github.com/nomad/collab.git", default-features = false, features = [
  "client",
] }
concurrent-queue = "2.5"
derive_more = { workspace = true }
ed = { workspace = true }
eerie = { git = "ssh://git@github.com/nomad/eerie.git" }
fastrand = "2"
flume = { workspace = true, features = ["async"] }
futures-util = { workspace = true }
fxhash = { workspace = true }
indexmap = { workspace = true }
pin-project-lite = { workspace = true }
serde = { workspace = true, features = ["derive"] }
smallvec = { workspace = true }
smol_str = { workspace = true }
thiserror = { workspace = true }
walkdir = { workspace = true }

# Mock-only dependencies.
duplex-stream = { git = "ssh://git@github.com/nomad/collab.git", optional = true }

# Neovim-only dependencies.
async-net = { workspace = true, optional = true }
clipboard = { workspace = true, optional = true }
home = { version = "0.5", optional = true }

[dev-dependencies]
futures-lite = { workspace = true, features = ["default"] }

[lints]
workspace = true

[[test]]
name = "join"
required-features = ["mock"]

[[test]]
name = "start"
required-features = ["mock"]
