[package]
name = "collab"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true

[features]
benches = []
mock = ["collab-server/server", "collab-server/test", "dep:duplex-stream"]
neovim = [
  "collab-server/nomad",
  "walkdir/gitignore",
  "dep:async-net",
  "dep:clipboard",
  "dep:home",
  "dep:neovim",
]

[dependencies]
abs-path = { workspace = true, features = ["macros"] }
auth = { workspace = true }
cauchy = { workspace = true }
collab-project = { git = "ssh://git@github.com/nomad/collab-server.git" }
collab-server = { git = "ssh://git@github.com/nomad/collab-server.git", default-features = false, features = [
  "client",
] }
compact_str = { workspace = true }
derive_more = { workspace = true }
ed = { workspace = true }
fastrand = "2"
flume = { workspace = true, features = ["async"] }
futures-util = { workspace = true }
fxhash = { workspace = true }
indexmap = { workspace = true }
pin-project-lite = { workspace = true }
serde = { workspace = true, features = ["derive"] }
smallvec = { workspace = true, features = ["const_new"] }
smol_str = { workspace = true }
walkdir = { workspace = true }

# Mock-only dependencies.
duplex-stream = { git = "ssh://git@github.com/nomad/collab.git", optional = true }

# Neovim-only dependencies.
async-net = { workspace = true, optional = true }
clipboard = { workspace = true, optional = true }
home = { version = "0.5", optional = true }
neovim = { workspace = true, optional = true }

[lints]
workspace = true
