[package]
name = "collab-old"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
collab-fs = { git = "ssh://git@github.com/nomad/collab.git" }
collab-messaging = { git = "ssh://git@github.com/nomad/collab.git" }
collab-project = { git = "ssh://git@github.com/nomad/collab.git" }
collab-server = { git = "ssh://git@github.com/nomad/collab.git" }
futures-util = { workspace = true }
nohash = { workspace = true }
nomad = { workspace = true }
nomad-server = { git = "ssh://git@github.com/nomad/collab.git", default-features = false, features = ["client"] }
pin-project-lite = { workspace = true }
root-finder = { workspace = true }
serde = { workspace = true, features = ["derive"] }
smallvec = { workspace = true }
smol_str = { workspace = true }
tracing = { workspace = true }

[lints]
workspace = true
