[package]
name = "collab"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
async-net = { workspace = true }
clipboard = { workspace = true }
cola = { workspace = true }
collab-client = { git = "ssh://git@github.com/nomad/collab.git", package = "collab" }
futures = { workspace = true }
nomad = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
url = { version = "2", features = ["serde"] }
webpki-roots = "0.26"

[dev-dependencies]
async-std = { version = "1", features = ["attributes"] }

[lints]
workspace = true

# Blocked by https://github.com/rust-lang/cargo/issues/13157
#
# [lints.rust]
# unsafe_code = "deny"
