[package]
name = "nomad-macros"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
quote = "1.0"
proc-macro2 = "1.0"
syn = { version = "2.0", features = ["full"] }
syn-derive-args = { git = "ssh://git@github.com/nomad/syn-derive-args.git" }
