[package]
name = "nomad"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish = false

[features]
neovim-0-9 = ["neovim/neovim-0-9"]
neovim-nightly = ["neovim/neovim-nightly"]

[dependencies]
async-task = "4"
futures = { workspace = true }
macros = { path = "./macros" }
neovim = { workspace = true }
pin-project-lite = { workspace = true }
serde = { workspace = true }

[lints]
workspace = true
