[package]
name = "nomad"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish = false

[features]
neovim-0-9 = ["nvim-oxi/neovim-0-9"]
neovim-nightly = ["nvim-oxi/neovim-nightly"]

[dependencies]
async-task = "4.7"
concurrent-queue = "2.4"
futures = { workspace = true }
home = "0.5"
macros = { path = "./macros" }
nvim-oxi = { workspace = true, features = ["libuv"] }
pin-project-lite = { workspace = true }
pond = { git = "ssh://git@github.com/nomad/pond.git" }
serde = { workspace = true }
strsim = "0.11"
time = { version = "0.3", features = ["macros"] }
tracing = "0.1"
tracing-appender = "0.2"
tracing-subscriber = { version = "0.3", features = ["time"] }

[lints]
workspace = true
