name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 1 * *'

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        neovim: [nightly]
        include:
          - neovim: nightly
            features: "--features neovim-nightly"

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set PAT to access private repos
        env:
          PAT: ${{ secrets.NOIB3_PAT }}
        run: |
          git config --global --replace-all "url.https://noib3:$PAT@github.com.insteadOf" ssh://git@github.com
          git config --global --add "url.https://noib3:$PAT@github.com.insteadOf" git@github.com
          git config --global --add "url.https://noib3:$PAT@github.com.insteadOf" https://github.com
      - name: Install Neovim ${{ matrix.neovim }}
        uses: rhysd/action-setup-vim@v1
        with:
            neovim: true
            version: ${{ matrix.neovim }}
      - uses: dtolnay/rust-toolchain@nightly
      - run: CI=true cargo test ${{ matrix.features }} --no-fail-fast

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set PAT to access private repos
        env:
          PAT: ${{ secrets.NOIB3_PAT }}
        run: |
          git config --global --replace-all "url.https://noib3:$PAT@github.com.insteadOf" ssh://git@github.com
          git config --global --add "url.https://noib3:$PAT@github.com.insteadOf" git@github.com
          git config --global --add "url.https://noib3:$PAT@github.com.insteadOf" https://github.com
      - name: Install Neovim nightly
        uses: rhysd/action-setup-vim@v1
        with:
            neovim: true
            version: nightly
      - uses: dtolnay/rust-toolchain@nightly
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: CI=true cargo llvm-cov --workspace --codecov --output-path codecov.json
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: codecov.json
          fail_ci_if_error: true

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup the deploy key used to access private repos
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}
      - name: Install Rust nightly with Clippy
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - run: cargo clippy --all-features --all-targets --tests --workspace -- -D warnings

  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set PAT to access private repos
        env:
          PAT: ${{ secrets.NOIB3_PAT }}
        run: |
          git config --global --replace-all "url.https://noib3:$PAT@github.com.insteadOf" ssh://git@github.com
          git config --global --add "url.https://noib3:$PAT@github.com.insteadOf" git@github.com
          git config --global --add "url.https://noib3:$PAT@github.com.insteadOf" https://github.com
      - name: Install Neovim nightly
        uses: rhysd/action-setup-vim@v1
        with:
            neovim: true
            version: nightly
      - uses: dtolnay/rust-toolchain@nightly
      - run: RUSTFLAGS="-D warnings" RUSTDOCFLAGS="--cfg docsrs" cargo doc --features neovim-nightly

  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: cargo fmt --check
